:root{
    --Purple: #e2d4ed;
    --Yellow: #7abef2;
    --Gray: #A9A9A9;
}

.container{
  
    margin :7em;
    width: 25%;
    height: fit-content;
    padding: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.bg{
    background-color: var(--Yellow);
    border-radius: 10px;
}
.txt{
    color: var(--Purple);
    font-weight: 400;
}
form{
    display: grid;
    flex-direction: column;
    gap:1rem;
   
}
input{
    padding:  .7em 1em;
    border-radius: 10px;
    outline: none;
   display: block;
    border: 1px solid black;
   

}
form >h1{
    line-height: 0;
}
form>button{
    width: 100%;
    padding:.5em 1em;
    align-self: center;
    border-radius: 10px;
    color: white;
    background-color: var(--Purple);   
}


